testing-citrus-example-project/src/main/resources/wsdl/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://training.citrus/message"
	xmlns:tns="http://training.citrus/message"
	elementFormDefault="qualified" >


	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Input" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Output" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>